@page "/"

<div style="background: url(https://compass-ssl.microsoft.com/assets/fe/5b/fe5b766b-2852-4866-8dcb-fc93763fad6e.png?n=FamilyHeroAnim2_poster_trimmed.png) " class="page-holder bg-cover">
    <h1>Welcome to the family!</h1>

    <div class="col-sm-6">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique turpis at mauris elementum, ac aliquet odio aliquam. Proin in mauris fringilla, congue ex vel, sodales elit. Praesent aliquam bibendum purus facilisis ultrices. Proin interdum fermentum aliquam. Etiam ac tellus finibus, fringilla tortor pharetra, consequat nunc. Duis aliquet a arcu et dignissim. Quisque in lectus lorem. Sed efficitur leo eget sem tempus, in tristique erat faucibus. Sed tincidunt eros nibh, non accumsan dolor interdum quis. Praesent placerat scelerisque enim vel tempor. Nunc ultrices, dolor eu posuere ullamcorper, justo nulla laoreet velit, quis facilisis augue eros nec justo.
        </p>
        <p>
            Proin ac neque et mauris scelerisque dictum non vel lacus. Vivamus volutpat sit amet mauris eget eleifend. Etiam sit amet enim vitae augue commodo sagittis non sit amet tellus. Phasellus ac neque quis ante cursus malesuada a et ligula. Etiam blandit tristique mauris a faucibus. Etiam pretium consectetur lacus quis congue. Nam eleifend eu sapien ac aliquet. Suspendisse sollicitudin velit ac est tristique venenatis.
        </p>
        <p>
            Praesent ultricies ex neque, sed tristique urna scelerisque vitae. Donec congue interdum tincidunt. Vivamus id dolor nunc. Sed aliquet neque vel lacinia rhoncus. Cras felis dui, ullamcorper sed posuere sit amet, sodales in libero. Curabitur at facilisis sem. Duis pharetra tristique purus, sollicitudin sollicitudin felis posuere id. Vivamus vitae viverra lorem. Donec iaculis malesuada tincidunt. Praesent tincidunt malesuada justo, eu laoreet justo fermentum id. Ut sagittis eget libero et aliquam. Morbi magna nibh, tincidunt pulvinar est sed, auctor pretium eros. Duis quis sapien quis augue venenatis euismod. Fusce id ligula eu turpis feugiat eleifend non et nulla.
        </p>
        <p>
            Vestibulum sagittis nibh nisl, tristique tristique odio ornare id. Ut pharetra mi magna, sit amet vulputate nulla mollis sed. Praesent vehicula sem interdum, auctor nisi id, hendrerit augue. Quisque efficitur condimentum mi vitae pretium. Nullam placerat ut nulla id finibus. Sed elit tellus, convallis nec mattis vitae, finibus quis ante. Phasellus laoreet tortor ut augue iaculis, sit amet ultricies erat ultrices. Nunc tempor eget nulla vel euismod. Pellentesque ullamcorper ut dui in vulputate. Integer ligula velit, facilisis vitae tempor sed, varius quis tellus. Duis lacinia dui sed risus ultricies varius. Vivamus massa justo, vehicula vitae ex at, ultricies ullamcorper justo. Mauris molestie neque vel diam ultrices, eget dapibus tellus commodo. Morbi sagittis accumsan velit, sed aliquam lectus fringilla iaculis. Nulla leo ligula, mattis at pretium accumsan, venenatis at diam. Sed sed magna sed dui dapibus tempor.
        </p>
        <p>
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent varius id leo sit amet volutpat. Etiam in quam ultricies, malesuada eros eu, egestas mauris. Nullam at purus hendrerit mauris ultrices tristique non eget diam. Aliquam erat volutpat. Integer et ex ornare, dictum sapien nec, interdum sapien. Nullam luctus massa vulputate diam ullamcorper, a pulvinar dolor placerat. Curabitur at efficitur sapien. Morbi at mi turpis. Aliquam vitae risus eu ligula aliquet dapibus. Sed sed imperdiet ex. Ut at dignissim odio, congue ultrices lectus. Pellentesque ac accumsan erat.
        </p>
        <p>
            Sed ultrices commodo nulla, at scelerisque justo ultrices ac. Integer rutrum dolor nunc, ac feugiat massa pulvinar quis. Integer tempor nec quam sit amet tincidunt. Aliquam ullamcorper metus ut leo tempus porttitor. Nullam id tempor quam. Etiam viverra tellus sed eleifend accumsan. Maecenas eget lectus faucibus, facilisis risus vitae, gravida libero. Praesent pretium venenatis sapien faucibus consectetur. Aliquam ac egestas ante. Nullam consequat interdum purus. Cras maximus augue eu tortor malesuada, vitae commodo orci consectetur. Duis eleifend libero ac ligula commodo, et aliquam est semper. Nullam sed augue mattis, sodales augue eu, varius leo.
        </p>
        <p>
            Duis et sapien in sem aliquam sagittis eget ac eros. Sed tempus rhoncus faucibus. Pellentesque et sollicitudin ex. Aliquam tincidunt hendrerit felis sed tristique. Nulla eu odio ut ipsum imperdiet mattis. Suspendisse congue, justo quis bibendum tincidunt, risus turpis consectetur tellus, volutpat eleifend elit mi eu purus. Mauris tristique nibh sit amet pellentesque efficitur. Mauris sed risus volutpat, semper enim nec, porta ipsum. Ut ac gravida nisi. Morbi in sagittis est, vitae imperdiet lorem. Aliquam ut tempor odio. Pellentesque sit amet vehicula turpis.
        </p>
    </div>
</div>
